<div class="rooms-and-beds d-flex align-items-center" data-controller="rooms-and-beds">
  <div class="flex-grow-1"><%= title %></div>
  <button type="button" data-action="rooms-and-beds#decrement">-</button>
  <label data-rooms-and-beds-target="label" for="<%= key %>">
    Any
  </label>
  <input data-rooms-and-beds-target="input" type="number" id="<%= key %>" name="<%= key %>" value="0" class="d-none"/>
  <button type="button" data-action="rooms-and-beds#increment">+</button>
</div>
