<div class="container">
  <div class="position-relative">
    <div class="d-flex justify-content-between align-items-center mt-3">
      <div class="d-flex">
        <div class="d-flex flex-column align-items-center px-2 py-1 border-bottom">
          <i class="fa-solid fa-binoculars"></i>
          <div>Amazing view</div>
        </div>
        <div class="d-flex flex-column align-items-center px-2 py-1">
          <i class="fa-solid fa-city"></i>
          <div>City</div>
        </div>
        <div class="d-flex flex-column align-items-center px-2 py-1">
          <i class="fa-solid fa-umbrella-beach"></i>
          <div>Beachfronts</div>
        </div>
        <div class="d-flex flex-column align-items-center px-2 py-1">
          <i class="fa-brands fa-fort-awesome"></i>
          <div>Castles</div>
        </div>
        <div class="d-flex flex-column align-items-center px-2 py-1">
          <i class="fa-solid fa-igloo"></i>
          <div>Igloos</div>
        </div>
        <div class="d-flex flex-column align-items-center px-2 py-1">
          <i class="fa-solid fa-house-chimney-window"></i>
          <div>Cabins</div>
        </div>
        <div class="d-flex flex-column align-items-center px-2 py-1">
          <i class="fa-solid fa-tents"></i>
          <div>Campground</div>
        </div>
        <div class="d-flex flex-column align-items-center px-2 py-1">
          <i class="fa-solid fa-house-flood-water"></i>
          <div>Lakes</div>
        </div>
        <div class="d-flex flex-column align-items-center px-2 py-1">
          <i class="fa-solid fa-kitchen-set"></i>
          <div>Bed and Breakfast</div>
        </div>
        <div class="d-flex flex-column align-items-center px-2 py-1">
          <i class="fa-solid fa-mountain-sun"></i>
          <div>Mountains</div>
        </div>
      </div>
      <%= render 'filter_button' %>
    </div>
    <ul class="grid grid-cols-4 gap-3 list-none ps-0 py-3">
      <%= render @accommodations %>
    </ul>
    <button class="btn btn-primary rounded-3 position-sticky bottom-0 start-50 translate-middle mb-3 ">
      <span>Show Map</span>
      <i class="fa-solid fa-map"></i>
    </button>
  </div>
</div>
