<div class="container-fluid">
  <div class="d-flex">
    <h1>Brooklyn-style Chic Designer Suite【CIQ】Rare Find!</h1>
    <div class="d-flex">
      <a href="url">Share</a>
      <a href="url">Save</a>
    </div>
  </div>

  <div class="host-images col-6">
    <div>1 big image</div>
    <div class="col-6">4 images</div>
  </div>

  <div class="row">
    <div class="col-8">Accommodation Details</div>

      <div><h2>Entire apartment in Johor Bahru, Malaysia<h2>
          <ul>
          <li>max_guest_count</li>
          <li>bedroom_count</li>
          <li>bed_count</li>
          <li>bathroom_count</li>
          <li>rating</li>
          <li>reviews.count</li>
          </ul>
      </div>

      <hr>

      <div class="row">
        <div class="col-1">
          <div>A link to Host's profile</div>
        </div>
        <div class="col-11">
          <h2>Hosted by Havona</h2>
          <p>6 years hosting</p>
        </div>
      </div>

      <hr>

      <div>
        <h2>Where you'll sleep<h2>
        <p>An image of the bedroom</p>
      </div>

      <hr>

      <div>
        <h2>What this place offers</h2>
        <ul>
          <li>accommodation.amenities</li>
          <li>accommodation.amenities</li>
          <li>accommodation.amenities</li>
          <li>accommodation.amenities</li>
        </ul>
        <a class="btn btn-primary" href="#" role="button">Show more amenities</a>
      </div>

      <hr>

      <div>
        <h2>2 nights in JB</h2>
        <h3>2 Jan 2025 - 4 Jan 2025</h3>
        <p>Calendar</p>
      </div>

      <hr>

      <div>
        <h2>4.8, 454 reviews</h2>
        <div class="list-group d-flex flex-row flex-wrap">
          <ul>
            <li>Review 1</li>
            <li>Review 2</li>
            <li>Review 3</li>
          </ul>
         <a class="btn btn-primary" href="#" role="button">Show more reviews</a>
        </div>
      </div>

      <hr>

      <div>
        <h2>Where you'll be</h2>
        Insert map here
      </div>

      <hr>

      <div>
        <h2>Meet your host</h2>
      </div>

      <hr>

      <div>
        <h2>Things to know</h2>
      </div>


    <div class="col-4">Reservation form</div>

  </div>

</div>
