 <div class="bg-white rounded shadow p-3">
  <h2>$62 SGD night</h2>
  <div class="d-flex justify-content-between p-3 border rounded">
    <div>
      <p>Check-in</p>
      <input type="text" data-controller="datepicker" class="w-100" data-datepicker-inline-value="false">
    </div>

    <div>
      <p>Check-out</p>
      <input type="text" data-controller="datepicker" class="w-100" data-datepicker-inline-value="false">
    </div>

  </div>

  <div class="d-flex p-3 border rounded">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown link
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Adults</a></li>
        <li><a class="dropdown-item" href="#">Children</a></li>
        <li><a class="dropdown-item" href="#">Infants</a></li>
        <li><a class="dropdown-item" href="#">Pets</a></li>
      </ul>
    </div>
  </div>

  <div class="d-grid mx-auto p-3">
    <button class="btn btn-border-radius btn-primary" type="button">Reserve</button>
  </div>

  <p class="text-center p-3">You won't be charged yet</p>


  <div class="border-bottom px-3">
    <div class="d-flex justify-content-between">
      <a href="#">$62 SGD x 5 nights</a>
      <p>$310 SGD</p>
    </div>

    <div class="d-flex justify-content-between">
      <a href="#">Cleaning fee</a>
      <p>$15 SGD</p>
    </div>

    <div class="d-flex justify-content-between">
      <a href="#">Airbnb service fee</a>
      <p>$58 SGD</p>
    </div>
  </div>

  <div class="d-flex justify-content-between p-3">
    <p></strong>Total before taxes</strong></p>
    <p>$383 SGD</p>
  </div>

</div>
