.btn-counter {
  background-color: transparent;
  padding: 15px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  color: black;

}

.counter {
  background-color: transparent;
  width: 40px;
  border: none;
  text-align: center;
  display: block;
}

.btn-booking {
  width: 380px;
}
